.HomePage {
    margin-top: 12vh;
}

.home-banner img {
    height: 58vh;
    width: 96%;
    margin-left: 2%;
    border-radius: 0.3rem;
}

.featured-categories-heading {
    text-align: center; 
    font-size: 1.7rem; 
    font-weight: bold; 
    color: #000; 
    margin-bottom: 0; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .home-categories-container {
        justify-content: space-evenly; 
        gap: 0.5rem; 
    }

    .home-category-card {
        max-width: 160px; 
        height: 180px; 
    }

    .home-category-card h5 {
        font-size: 0.9rem; 
    }
}
