.carousel-wrapper {
    width: 100%; /* Full viewport width */
    margin: 0 auto; /* Center carousel */
    border-radius: 0; /* Remove border radius for full width */
    overflow: hidden;
}

.carousel-image {
    width: 100vw;
    height: 70vh; /* Adjust height as needed, e.g., 60% of viewport height */
    object-fit: cover;
}

.carousel-images {
    position: relative;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    
}

.carousel-caption h3 {
    font-size: 2.5em;
    margin: 0;
    background-color: #250d0dc8;
    border-radius: 10px;
    padding: 10px;
}

/* Updated Navigation Button Styles */
.carousel-control {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 1.5em; /* Smaller font size for smaller icons */
    color: #333; /* Darker color for better contrast */
    border: none;
    padding: 5px 10px; /* Smaller padding for smaller buttons */
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Adjusting positioning for left and right controls */
.prev {
    left: 15px;

}

.next {
    right: 15px;
}

/* Dot Indicator Styles */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 80%;
    cursor: pointer;
    transition: background-color 0.3s;
}

